
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Duplicar</title>
</head>
<body>
    <div> 
        <strong>El duplicado de @ViewBag.input1 es @ViewBag.resultado</strong>
    </div>
</body>
</html>
