
@{
    Layout = null;
    int res = ViewBag.resultado;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>Primer proyecto de MVC</h1>
        <strong>La suma es: </strong> @ViewBag.resultado
    </div>
</body>
</html>
